/* General Styles */
a:hover {
  cursor: pointer;
}

/* Remove excess side padding on top right header item */
.mdl-layout__header-row {
  padding: 0 0 0 80px !important;
}

[v-cloak] {
  display: none;
}


/* Tree Card Styles */

.tree-card-wide.mdl-card {
  margin: auto;
  width: 90%;
  margin-top: 20px;
  min-height: 1px; /* Override 200px default, scale with content */
}
.tree-card-wide > .mdl-card__title {
  color: #fff;
  background: #34623F
}
.tree-card-wide > .mdl-card__menu {
  color: #fff;
}
