body {
  background: #FFE7D3
}

/* General Styles */
a:hover {
  cursor: pointer;
}

/* Remove excess side padding on top right header item */
.mdl-layout__header-row {
  padding: 0 0 0 80px !important;
}

[v-cloak] {
  display: none;
}

/* Header Styles */

.mdl-layout__header {
  background: #267F3C
}

/* Fruit Card Styles */

.fruit-card-wide.mdl-card {
  width: 100%;
  margin: auto;
  min-height: 1px; /* Override 200px default, scale with content */
}
.fruit-card-wide > .mdl-card__title {
  color: #fff;
  background: #FC440F
}
.fruit-card-wide > .mdl-card__menu {
  color: #fff;
}
